/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
/*----iteração 1----*/
/* Iteração 1 768px */
body {
  min-height: 600px;
  max-width: 760px;
}
.background-purple {
  background-color: #540b51;
}
.background-ivory {
  background-color: #f3eae2;
}
.imagem-sections {
  width: 100%;
}
.container-trusted-companies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5% 5%;
}

.nav-button {
  background-color: #540b51;
}

.container-btn-google-sign {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100px;
  width: 90%;

  padding-left: 5%;
}
.button-sign {
  height: 50px;
  border-radius: 10%;
}
.button-google {
  background-color: dodgerblue;
  height: 50px;
  align-content: center;
  margin-bottom: 10px;
  border-radius: 10%;
}
.img-google {
  width: 30px;
  background-color: white;
}

.container-trusted-companies > img {
  width: 25%;
}
body {
  font-family: 'awesome';
}
nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
nav > div {
  display: flex;
}
nav > div > img {
  height: 25px;
}

nav > div > ul {
  display: none;
}
/*--------header-------*/
h1 {
  text-align: center;
}
p,
a,
h1,
h2,
h3 {
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 10px;
}

/*----  footer  ----*/
.footer-div-align {
  display: flex;
  justify-content: space-evenly;
}
.footer-ul-links {
  display: flex;
  justify-content: space-evenly;
}
/*---outras iterações---*/
/* Iteração 2 */

/* Iteração 2 */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .header-second-level {
    display: flex;
  }
  body {
    min-height: 600px;
    max-width: 1020px;
  }
  .img-2nd-level-size {
    width: 100%;
  }
  .container-trusted-companies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5% 5%;
  }
  .container-trusted-companies > img {
    width: 15%;
  }
}

/* Iteração 3 */
@media all and (min-width: 1025px) and (max-width: 1440px) {
}

/* Iteração 4 */
@media all and (min-width: 1441px) {
}
